@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>*@

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <input type="button" id="streamButton" value="Start Streaming" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="text-center">
        <p id="errorMsg" class="text-danger"></p>
        <p id="completeMsg" class="text-success"></p>
        <img id="avatar" src="" style="width: 150px; height: 150px; border-radius: 50%" />
        <h5 class="mt-3" id="owner"></h5>
        <div class="row justify-content-center">
            <p class="" id="eventAction"></p>
            <p class="" id="dt"></p>
        </div>
        <br />
        <h5>Repo Details</h5>
        <p class="text-left" id="repoName"><span></span></p>
        <p class="text-left" id="isPublic"></p>
        <a id="repoLink" src="#"></a>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/events.js"></script>